:root {
  --length-color: burlywood;
  --border-color: rgb(147, 145, 145);
}

.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.container {
  max-width: 1440px;
  margin: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.header {
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Roboto", sans-serif;
}
.length {
  background-color: var(--length-color);
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 41px;
  margin-right: 10px;
}
.nav-item {
}

.profile {
  display: flex;
  padding: 40px 90px;
  justify-content: space-between;
  background-color: rgb(71, 70, 70);
 
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-text__name {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 80px;
  text-align: center;
  margin: 0;
  color: var(--length-color);
}

.profile-text__position {
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--length-color);
  /* color: var( --length-color); */
}

.profile-text__about {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0;

}

.contacts {
  padding: 0;
  color: var(--length-color);
  margin: auto 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.contacts-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap:15px;
}
.contacts-item {
    display: flex;
    gap:15px
}

/* .contacts-item::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px; 
    background-size: contain;
    background-repeat: no-repeat;
  } */

  .contact-icon {
    border-radius: 50%;
    background-color: var(--length-color);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px; 

  }
  .contact-icon:nth-child(1){
    background-image: url('../assets/svg/location-pin-svgrepo-com.svg');
  }

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
.about-length__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: left;
  padding: 0 60px;
  box-sizing: border-box;
  
}

.div__container {
    padding-bottom: 40px;
}
.photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 80px 50px;
  
}
.border-container {
  border-bottom: 3px solid var(--border-color);
  
}
.section-title {
    font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 45px;
text-transform:uppercase;
  margin: 0 0 25px;
}
.skills {
  
}
.skills-item {

}
.english {
    
}